frontend:
    image: node:7-alpine
    volumes:
        - ./client:/src:rprivate
        - ./static:/static:rprivate
        - /src/node_modules
    working_dir: /src
    command: make build

backend:
    image: node:7-alpine
    volumes:
        - ./server:/src:rprivate
        - ./static:/static:rprivate
        - /src/node_modules
    links:
        - database
    working_dir: /src
    command: make run

database:
    image: redis:alpine

nginx:
    image: fholzer/nginx-brotli
    volumes:
        - ./static:/srv/static:rprivate
        - /etc/nginx:/etc/nginx:rprivate
        - /etc/letsencrypt:/etc/letsencrypt:rprivate
        - /var/log/nginx:/var/log/nginx:rprivate
    links:
        - backend
    ports:
        - 0.0.0.0:80:80
        - 0.0.0.0:443:443
