frontend:
    image: node:7
    volumes:
        - ./client:/src
        - ./static:/static
        - /src/node_modules
    working_dir: /src
    command: make watch

backend:
    image: node:7
    volumes:
        - ./server:/src
        - ./static:/static
        - /src/node_modules
    links:
        - database
    ports:
        - 0.0.0.0:5000:5000
    working_dir: /src
    command: make run

database:
    image: redis
