<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Digimancer</title>
    <style>
    	body, html {
    		margin: 0;
    		padding: 0;
    		height: 100%;
    		text-align: center;
    	}
    	body {
    		background: black;
    		color: white;
    	}
    </style>
    <script src="libs/phaser.min.js"></script>
</head>
<body>
    {{{body}}}
</body>
</html>