<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Digimancer</title>
    <style>
    	body, html {
    		margin: 0;
    		padding: 0;
    		height: 100%;
    		text-align: center;
            overflow: hidden;
    	}
    	body {
    		background: black;
    		color: white;
    	}
        canvas {
            text-align: center;
            margin: 0 auto!important;
        }
    </style>
    <script src="/public/phaser.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
     window._game = "{{game}}";
    </script>
</head>
<body>
    {{{body}}}
</body>
</html>