<main class="intro">
<div class="instructions">

    <img src="/static/assets/title/logo.png" alt="">

    <div class="cta">        
        <a href="/p/">PLAY NOW!</a>
    </div>

    <div class="container">
        <img src="/static/assets/instructions_code.gif" alt="" height="200px">
        <div class="details">
            Start a new game and have both players scan the QR code with their
            mobile device to join. The game will start once both
            players have connected.
        </div>
    </div>
    <div class="container">
        <img src="/static/assets/instructions_fire.gif" alt="" height="200px">
        <div class="details">
            Once the game has started, draw a carat (^) symbol and fling it upward 
            to cast a fireball at your opponent.
        </div>
    </div>
    <div class="container">
        <img src="/static/assets/instructions_shield.gif" alt="" height="200px">
        <div class="details">
            To block incoming fireballs you must cast a shield spell, to do this
            draw a circle (o) and fling it down, towards yourself.
        </div>
    </div>
</div>
</main>

<footer>(C) 2016 team +rehab. Built for Global Game Jam 2016 - "Ritual"</footer>
