<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Digimancers</title>
    <link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
    <style>
    	body, html {
    		margin: 0;
    		padding: 0;
    		height: 100%;
    		text-align: center;
            overflow: hidden;
            font-family: 'VT323', Arial;
    	}
    	body {
    		background: black;
    		color: white;
    	}
        /*#wrap {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
        }*/
        canvas {
            text-align: center;
            margin: 0 auto!important;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 2px 0;
            border-top: 1px solid #333;
            border-bottom: 1px solid #333;
            box-shadow: 0 0 40px rgba(100, 30, 80, 0.5);
        }

        .intro {
            background-image: url(/static/assets/bg.jpg);
            height: 100%;
        }
        .container {
            display: flex;
            width: 600px;
            margin: 0 auto;
        }
        .container .details {
            flex: 1;
            font-size: 22px;
            padding: 40px 10px;
        }
        .instructions {
            padding-top: 50px;
        }
        .cta {
            padding: 20px 0;
            width: 100%;
            text-align: center;
        }

        .cta a {
            font-size: 48px;
            font-weight: bold;
            color: #4411aa;
        }

        footer {
            position: absolute;
            bottom: 10px;
            left: 0;
            width: 100%;
            font-size: 22px;
            text-align: center;
            color: #555555;
        }
    </style>
    <script src="/static/phaser.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
     window._game = "{{game}}";
    </script>
</head>
<body>
    {{{body}}}
</body>
</html>
